<!DOCTYPE html>
<html>
  <head>
    <title>Welcome User</title>
   <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h1>Welcome to Farmer's Website</h1>
    <a href="/login" class="btn btn-login">User Login</a>
    
  </body>
</html>
